input {
  display: block;
  background: #000;
}

select {
  display: inline-block;
  border: 1px solid #f00;
}

textarea {
  display: inline;
  color: #fff;
}

.header, .extender-2 {
  position: relative;
}
.header h1 .logo .no-text, .extender-2 h1 .logo .no-text, .header h1 .logo .extender, .extender-2 h1 .logo .extender {
  position: absolute;
  top: -10000px;
}
