.container {
  margin: 0 auto;
  width: 960px;
}
.container .header {
  color: #fff;
}
.container .header h2 {
  text-decoration: underline;
}

.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
  margin-right: 10px;
  border-width: 15px;
  border-style: solid;
  border-color: #000;
}
.list-inline li a {
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  font-size: 15px;
}
@media (max-width: 1080px) {
  a {
    font-size: 10px;
  }
}
